* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
  }
.content{
    position: relative;
    margin: 5% auto;
    width: 80%;
    height: auto;
    background: #FFF;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    text-align: center;
    background: #FFF;
    border-radius: 10px;
    color: #252e48;
  }

  .content h1{
      font-size: 70px;
  }

  .CardItem{
    margin: 5% auto;
    width: 70%;
  }

  @media screen and (min-width: 1500px) {
    .content-text{
        font-size: 25px;
    }
}
